.wrap{
     width:990px;
     margin: 0 auto;
     position: relative;
 }
/*头部*/
#header{
    height: 105px;
    background:url("../images/headerbg.png") repeat;
}
#logo{
    width: 158px;
    height: 59px;
    margin-left: 10px;
    float: left;
}
#input{
    width: 214px;
    height: 27px;
    float: left;
    margin-top: 20px;
    margin-left:30px;
}
#nav{
    /*margin-left:68px;*/
    /*margin-bottom: 0;*/
    width: 990px;
    height: 37px;
    position: absolute ;
    left: 0;
    top:68px;
    background:#4A4A4A;
}
#nav li.see{
    position: relative  ;
}
#nav li{
    width: 49px;
    height: 37px;
    margin-right: 14px;
    float: left;
    text-align: center;
    line-height: 37px;

}
#nav li>a{
    width: 100%;
    height: 100%;
    color:white;
}
.pull{
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top: 24px;
    left:0 ;
    width: 476px;
    height: 146px;
    display: none;
    z-index: 5;
    background: #fff;
}
.pull .appear dt{
    float: left;
    width: 94px;
    height: 66px;

}
.pull .appear dt a{
    width: 94px;
    height: 73px;
    float: left;
    text-align: center;
    line-height:73px;
    color: #000;
    font-size: 14px;
}
dd{
    height: 73px;
    width: 476px;
}
dd a{
    color: gray;
}
dd a:hover{
    color: #008CD7;
}
.pull em{
    border-right: 1px solid #CCCCCC;
    float: left;
    font-style: normal;
    height: 14px;
    line-height: 14px;
    margin: 10px 0;
    padding: 0 8px;
}
.pull em a{
    /*color: #6b6b6b;*/
    font-size: 10px;
}
.pull .fore{
    border-bottom: 1px dashed #ccc;
}
.pull .ance{
    border-bottom:none;
}
#skin{
    width: 120px;
    height: 15px;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
}
#skin li{
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 4px;
}
#skin1{
    background:url("../images/theme.gif") 0 0;
}
#skin2{
    background:url("../images/theme.gif") -20px 0;
}
#skin3{
    background:url("../images/theme.gif") -40px 0;
}
#skin4{
    background:url("../images/theme.gif") -60px 0 ;
}
#skin5{
    background:url("../images/theme.gif") -80px 0;
}
#skin6{
    background:url("../images/theme.gif") -100px 0;
}
#skin .skin1{
    background: url("../images/theme.gif")0 -16px no-repeat;
}
#skin .skin2{
    background: url("../images/theme.gif")-20px -16px no-repeat;
}
#skin .skin3{
    background: url("../images/theme.gif")-40px -16px no-repeat;
}
#skin .skin4{
    background: url("../images/theme.gif")-60px -16px no-repeat;
}
#skin .skin5{
    background: url("../images/theme.gif")-80px -16px no-repeat;
}
#skin .skin6{
    background: url("../images/theme.gif")-100px -16px no-repeat;
}
#nav.color1,#vary.color1{
    background: #4869ae;
}
#nav.color2,#vary.color2{
    background: #b2d500;
}
#nav.color3,#vary.color3{
    background: #fbab0d;
}
#nav.color4,#vary.color4{
    background: #0abfcf;
}
#nav.color5,#vary.color5{
    background: #e44072;
}
#nav.color6,#vary.color6 {
    background: #ba39d8;
}
/*主体*/
#body{
    width: 990px;
    height: 560px;
    margin: 0 auto;
    padding-top: 10px;
}
/*1*/
#classify{
    width: 187px;
    height: 550px;
    /*background:red;*/
    float: left;
    margin-right: 10px;
}
#classify h2{
    width:187px;
    height:30px;
    text-align: center;
    line-height:30px;
    background:lightgray;
    font-size:12px;
}
#kind{
    border: 1px solid lightgray;
    width: 170px;
    height: 520px;
    padding: 5px 7px;
}
#kind h3{
    width:164px;
    height:24px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;

}
#kind .brand{
    overflow: hidden;
    width: 158px;
    height: 100px;
}
#kind .brand li{
    float: left;
    text-align:center;
    color:#AEADAE;
    width:79px;
    height: 24px;
    font-size: 11px;
}
/*2*/
#shift{
    width: 550px;
    height: 320px;
    float: left;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 10px;
}
/*#pic{*/
    /*width: 550px;*/
    /*height: 321px;*/
    /*position:absolute;*/
    /*left: 0;*/
/*}*/
#pic img{
    margin-top: 0;
    margin-left:0;
    float: left;
    display: none;
}
#pic img.selected{
    display: block;
}
#btn{
    margin-bottom:0;
    margin-left: 0;
    width: 550px;
    height: 42px;
    position:absolute;
    bottom: 0;
    opacity: 0.4;
}
#btn li.selected{
    background: blue;
}
#btn li{
    width:105px;
    height: 46px;
    float: left;
    margin-right: 5px;
    background:red;
}
#btn li a{
    color: white;
}
/*3*/
#product{
    width: 190px;
    height: 321px;
    float: left;
    /*margin-top: 10px;*/
    padding-bottom: 10px;
}
#move{
    width:230px;
    height: 130px;
    font-size: 12px;
    margin-top: 10px;
    border: 1px solid #EEEEEE;
}
#move h2{
    height: 30px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
    text-indent: 5px;
    line-height: 30px;
}
#line{
    width: 210px;
    height: 100px;
    padding: 10px;
}
#line li a{
    color: gray;
    font-size: 15px;
}
#line li a:hover{
    /*color: #000;*/
    color: #008CD7;

}
/*4*/
#shoes{
    width: 790px;
    height: 230px;
    float: left;
    overflow: hidden;
    position: relative;
    left: 0;
}
#content{
    height: 23px;
    border-bottom: 1px solid #eee;
    position: relative;
}
#navigator{
    width: 216px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
}
#navigator li{
    float: left;
    width: 44px;
    height: 23px;
    background: #EFEFEF;
    margin-right: 10px;
    text-align: center;
    line-height: 23px;
    font-size: 12px;
}
#navigator li.select{
    background: #FA5889;
    /*border-width:10px;*/
    /*border-style:solid;*/
    /*border-color:black transparent transparent transparent;*/
}
#nike{
    margin:8px 5px;
    /*width:4000px;*/
    height: 188px;
}
#content h2{
    width:100px;
    height:29px;
    font-size: 12px;
}
#nike li{
    width: 188px;
    height:188px;
    float: left;
    padding: 0 5px;
    margin:0;
}
#nike .peel{
    width: 4000px;
    position: absolute;
    left: 0;
}
#nike span{
    float: left;
    width: 183px;
    height: 24px;
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    background: #efefef;
}
/*底部*/
#footer{
    width:990px;
    text-align: center;
    padding: 18px 0;
    color: #666;
    margin: 0 auto;
    font: 12px/1.5 tahoma,arial,\5b8b\4f53;
}