.wrap{
    width: 1002px;
    height: 120px;
    margin: 0 auto;
}
#logo{
    margin-top: 37px;
    float: left;
}
#logo a{
    float: left;
    width: 189px;
    height: 47px;
    background:url("../psd/logo.gif") no-repeat;
}
#nav{
    margin-left: 138px;
    height: 14px;
    margin-top: 53px;
    float: left;
}
#nav li{
    height: 14px;
    float: left;
    padding: 0 25px;
    border-right: 1px solid #6b6b6b;
    text-align: center;
    line-height: 14px;
}
#nav li a{
    color: #626262;
    font-size: 15px;
    font-family: PTSans Regular;
}
#nav li a:hover{
    color:#55c9ff;
}
#nav .last{
    border:0;
}
#search-box{
    float: left;
    margin-top: 45px;
    margin-right: 0;
    width: 130px;
    height: 30px;
}
#search-box span{
    width: 21px;
    height: 30px;
    float: left;
    background:#f1f3f6 url("../psd/search.png") no-repeat 0px 8px;
}
#search-box input{
    width: 109px;
    height: 30px;
    text-indent: 9px;
    border: none;
    float: left;
    background: #f1f3f6;
    outline: none;
}







#banner{
    height: 460px;
    background:#31333e;
    position: relative;
}

#banner .wrap{
    overflow: hidden;
    position: relative;
    width: 1002px;
    height: 460px;
    margin: 0 auto;
}
#img-box{
    width:3006px;
    height: 460px;
    position: absolute;
    left:0;
}
#img-box li {
    float: left;
}
#prev{
    width: 30px;
    height: 50px;
    position:absolute;
    left: 0;
    top: 50%;
    margin-top: 25px;
    background: url("../psd/arrow2.png") no-repeat;
}
#next{
    width: 30px;
    height: 50px;
    position:absolute;
    right: 0;
    top: 50%;
    margin-top: 25px;
    background: url("../psd/arrow1.png") no-repeat;
}








#services{
    height: 492px;
}
#services .wrap{
    width: 1002px;
    height: 492px;
}
#services .media{
    float: left;
    width: 334px;
    height: 398px;
    padding-top: 96px;
}
#services .social{
    margin-bottom: 28px;
    text-align: center;
    font-size: 30px;
    color: #626262;
}
#services .brand{
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 28px;
    margin-left: 118px;
}
#services .content{
    margin-left:23px;
    margin-bottom: 27px;
    float: left;
    line-height: 22px;
    text-indent: 10px;
    font-size: 15px;
}
#services .link{
    margin-left:127px;
    text-align: center;
    float: left;
    color: #00aeff;
    font-size: 15px;
}
#services .brand1{
    background:url("../psd/icon.png") 0 0;
}
#services .brand2{
    background:url("../psd/icon.png") 0 -120px;
}
#services .brand3{
    background:url("../psd/icon.png")0 -240px;
}



#works{
    height: 500px;
}
#works .wrap{
    width: 1002px;
    height: 500px;
    background: #e2e7ed;
}
#font{
    width: 1002px;
    float: left;
    margin-top: 30px;
    font-size: 30px;
    color: #626262;
}
#pic{
    height: 402px;
    width: 1002px;
    margin-top: 18px;
    float: left;
}
#pic li{
    float: left;
    height:200px;
}
#pic li img{
    width:250px;
    height:200px;
}







#clients{
    height: 170px;
    position: relative;
}
#clients .wrap{
    width: 1002px;
    height: 170px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
#client{
    font-size: 30px;
    color: #626262;
    margin-top: 29px;
    float: left;
}
#photo{
    width: 3006px;
    height: 84px;
    position: relative;
    left: 0;
    margin-top:17px;
    float: left;
}
#photo img{
    float: left;
}
#left{
    width: 30px;
    height: 50px;
    position:absolute;
    top: 110px;
    left: 0;
    background: url("../psd/arrow2.png") no-repeat 0 0;
}
#right{
    width: 30px;
    height: 50px;
    position:absolute;
    top: 110px;
    right: 0;
    background: url("../psd/arrow1.png") no-repeat 0 0;
}





#footer{
    height:176px;
    background:#31333e;
}
#footer .wrap{
    width: 1002px;
    height: 176px;
}
#navy{
    /*width: 1002px;*/
    height: 16px;
    margin-top: 44px;
    margin-left: 0;
    float: left;
}
#navy li{
    float: left;
    height: 16px;
    padding: 0 14px;
    border-right: 1px solid #6b6b6b;
    text-align: center;
    line-height: 16px;
}
#navy li a{
    color: #626262;
    font-size: 15px;
    font-family: PTSans Regular;
}
#para{
    margin-top: 9px;
    float: left;
    width: 1002px;
    color: #626262;
    font-size: 15px;
}
#paragraph{
    margin-top: 39px;
    float: left;
    /*width: 1002px;*/
    color: #626262;
    font-size: 15px;
}
#logos{
    width: 279px;
    height: 36px;
    margin-top: 45px;
    margin-right: 0;
    float: right;
}
#logos .logo{
    width: 36px;
    height: 36px;
    float: left;
    background-image:url("../psd/socialicon.png");
    /*background-repeat: no-repeat;*/
}
.logo1{
    background:url("../psd/socialicon.png")0 0;
    margin-right: 11px;
  }
.logo2{
    background:url("../psd/socialicon.png") -47px 0;
    margin-right: 11px;
}
.logo3{
    background:url("../psd/socialicon.png") -94px 0;
    margin-right: 11px;
}
.logo4{
    background:url("../psd/socialicon.png") -141px 0;
    margin-right: 11px;

}
.logo5 {
    background: url("../psd/socialicon.png") -188px 0;
    margin-right: 11px;
}
.logo6{
    background:url("../psd/socialicon.png") -235px 0;
}









